[DISASM]
{{ nc(DISASM.instruction)                   }}	 //Instruction
{{ nc(DISASM.directive)                     }}	 //Directive
{{ nc(DISASM.macro_name)                    }}	 //Macro name
{{ nc(DISASM.register_name)                 }}	 //Register name
{{ nc(DISASM.other_keywords)                }}	 //Other keywords
{{ nc(DISASM.dummy_data_name)               }}	 //Dummy data name
{{ nc(DISASM.dummy_code_name)               }}	 //Dummy code name
{{ nc(DISASM.dummy_unexplored_name)         }}	 //Dummy unexplored name
{{ nc(DISASM.hidden_name)                   }}	 //Hidden name
{{ nc(DISASM.library_function_name)         }}	 //Library function name
{{ nc(DISASM.local_variable_name)           }}	 //Local variable name
{{ nc(DISASM.regular_data_name)             }}	 //Regular data name
{{ nc(DISASM.regular_code_name)             }}	 //Regular code name
{{ nc(DISASM.regular_unexplored_name)       }}	 //Regular unexplored name
{{ nc(DISASM.demangled_name)                }}	 //Demangled name
{{ nc(DISASM.segment_name)                  }}	 //Segment name
{{ nc(DISASM.imported_name)                 }}	 //Imported name
{{ nc(DISASM.suspicious_constant)           }}	 //Suspicious constant
{{ nc(DISASM.char_in_instruction)           }}	 //Char in instruction
{{ nc(DISASM.string_in_instruction)         }}	 //String in instruction
{{ nc(DISASM.number_in_instruction)         }}	 //Number in instruction
{{ nc(DISASM.char_in_data)                  }}	 //Char in data
{{ nc(DISASM.string_in_data)                }}	 //String in data
{{ nc(DISASM.number_in_data)                }}	 //Number in data
{{ nc(DISASM.code_reference)                }}	 //Code reference
{{ nc(DISASM.data_reference)                }}	 //Data reference
{{ nc(DISASM.code_reference_to_tail)        }}	 //Code reference to tail
{{ nc(DISASM.data_reference_to_tail)        }}	 //Data reference to tail
{{ nc(DISASM.automatic_comment)             }}	 //Automatic comment
{{ nc(DISASM.regular_comment)               }}	 //Regular comment
{{ nc(DISASM.repeatable_comment)            }}	 //Repeatable comment
{{ nc(DISASM.extra_line)                    }}	 //Extra line
{{ nc(DISASM.collapsed_line)                }}	 //Collapsed line
{{ nc(DISASM.line_prefix_library_function)  }}	 //Line prefix: library function
{{ nc(DISASM.line_prefix_regular_function)  }}	 //Line prefix: regular function
{{ nc(DISASM.line_prefix_instruction)       }}	 //Line prefix: instruction
{{ nc(DISASM.line_prefix_data)              }}	 //Line prefix: data
{{ nc(DISASM.line_prefix_unexplored)        }}	 //Line prefix: unexplored
{{ nc(DISASM.line_prefix_externs)           }}	 //Line prefix: externs
{{ nc(DISASM.line_prefix_current_item)      }}	 //Line prefix: current item
{{ nc(DISASM.line_prefix_current_line)      }}	 //Line prefix: current line
{{ nc(DISASM.punctuation)                   }}	 //Punctuation
{{ nc(DISASM.opcode_bytes)                  }}	 //Opcode bytes
{{ nc(DISASM.manual_operand)                }}	 //Manual operand
{{ nc(DISASM.error)                         }}	 //Error
{{ nc(DISASM.default_color)                 }}	 //Default color
{{ nc(DISASM.selected)                      }}	 //Selected
{{ nc(DISASM.library_function)              }}	 //Library function
{{ nc(DISASM.regular_function)              }}	 //Regular function
{{ nc(DISASM.single_instruction)            }}	 //Single instruction
{{ nc(DISASM.data_bytes)                    }}	 //Data bytes
{{ nc(DISASM.unexplored_byte)               }}	 //Unexplored byte
[NAVBAR]
{{ nc(NAVBAR.library_function)              }}	 //Library function
{{ nc(NAVBAR.regular_function)              }}	 //Regular function
{{ nc(NAVBAR.instruction)                   }}	 //Instruction
{{ nc(NAVBAR.data_item)                     }}	 //Data item
{{ nc(NAVBAR.unexplored)                    }}	 //Unexplored
{{ nc(NAVBAR.external_symbol)               }}	 //External symbol
{{ nc(NAVBAR.errors)                        }}	 //Errors
{{ nc(NAVBAR.gaps)                          }}	 //Gaps
{{ nc(NAVBAR.cursor)                        }}	 //Cursor
{{ nc(NAVBAR.address)                       }}	 //Address
[DEBUG]
{{ nc(DEBUG.current_ip)                     }}	 //Current IP
{{ nc(DEBUG.current_ip_enabled)             }}	 //Current IP (Enabled)
{{ nc(DEBUG.current_ip_disabled)            }}	 //Current IP (Disabled)
{{ nc(DEBUG.current_ip_unavailible)         }}	 //Current IP (Unavailible)
{{ nc(DEBUG.address)                        }}	 //Address
{{ nc(DEBUG.address_enabled)                }}	 //Address (Enabled)
{{ nc(DEBUG.address_disabled)               }}	 //Address (Disabled)
{{ nc(DEBUG.address_unavailible)            }}	 //Address (Unavailible)
{{ nc(DEBUG.registers)                      }}	 //Registers
{{ nc(DEBUG.registers_changed)              }}	 //Registers (Changed)
{{ nc(DEBUG.registers_edited)               }}	 //Registers (Edited)
[ARROW]
{{ nc(ARROW.jump_in_current_function)       }}	 //Jump in current function
{{ nc(ARROW.jump_external_to_function)      }}	 //Jump external to function
{{ nc(ARROW.jump_under_the_cursor)          }}	 //Jump under the cursor
{{ nc(ARROW.jump_target)                    }}	 //Jump target
{{ nc(ARROW.register_target)                }}	 //Register target
[GRAPH]
{{ nc(GRAPH.top_color)                      }}	 //Top color
{{ nc(GRAPH.bottom_color)                   }}	 //Bottom color
{{ nc(GRAPH.normal_title)                   }}	 //Normal title
{{ nc(GRAPH.selected_title)                 }}	 //Selected title
{{ nc(GRAPH.current_title)                  }}	 //Current title
{{ nc(GRAPH.group_frame)                    }}	 //Group frame
{{ nc(GRAPH.node_shadow)                    }}	 //Node shadow
{{ nc(GRAPH.highlight_color_1)              }}	 //Highlight color 1
{{ nc(GRAPH.highlight_color_2)              }}	 //Highlight color 2
{{ nc(GRAPH.foreign_node)                   }}	 //Foreign node
{{ nc(GRAPH.normal_edge)                    }}	 //Normal edge
{{ nc(GRAPH.yes_edge)                       }}	 //Yes edge
{{ nc(GRAPH.no_edge)                        }}	 //No edge
{{ nc(GRAPH.highlighted_edge)               }}	 //Highlighted edge
{{ nc(GRAPH.current_edge)                   }}	 //Current edge
[MISC]
{{ nc(MISC.message_text)                    }}	 //Message text
{{ nc(MISC.message_background)              }}	 //Message background
{{ nc(MISC.patched_bytes)                   }}	 //Patched bytes
{{ nc(MISC.unsaved_changes)                 }}	 //Unsaved changes
{{ nc(MISC.highlight_color)                 }}	 //Highlight color
{{ nc(MISC.hint_color)                      }}	 //Hint color
